In [3]:
import pandas as pd
import numpy as np

In [4]:
from sklearn.datasets import load_boston

In [5]:
boston=load_boston()

In [6]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [7]:
print(boston.data.shape)

(506, 13)

In [8]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [9]:
data=pd.DataFrame(boston.data)

In [10]:
data.columns=boston.feature_names

In [11]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [12]:
boston.filename

'C:\\Users\\romil\\anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\boston_house_prices.csv'

In [13]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [15]:
data['PRICE']=boston.target

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  PRICE    506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [17]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [31]:
from sklearn.ensemble import AdaBoostRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [19]:
x,y=data.iloc[:,:-1],data.iloc[:,-1]

In [20]:
x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [21]:
x_train, x_test, y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=100)

In [22]:
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
463,5.82115,0.0,18.10,0.0,0.7130,6.513,89.9,2.8016,24.0,666.0,20.2,393.82,10.29
75,0.09512,0.0,12.83,0.0,0.4370,6.286,45.0,4.5026,5.0,398.0,18.7,383.23,8.94
478,10.23300,0.0,18.10,0.0,0.6140,6.185,96.7,2.1705,24.0,666.0,20.2,379.70,18.03
199,0.03150,95.0,1.47,0.0,0.4030,6.975,15.3,7.6534,3.0,402.0,17.0,396.90,4.56
84,0.05059,0.0,4.49,0.0,0.4490,6.389,48.0,4.7794,3.0,247.0,18.5,396.90,9.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,0.02543,55.0,3.78,0.0,0.4840,6.696,56.4,5.7321,5.0,370.0,17.6,396.90,7.18
359,4.26131,0.0,18.10,0.0,0.7700,6.112,81.3,2.5091,24.0,666.0,20.2,390.74,12.67
323,0.28392,0.0,7.38,0.0,0.4930,5.708,74.3,4.7211,5.0,287.0,19.6,391.13,11.74
280,0.03578,20.0,3.33,0.0,0.4429,7.820,64.5,4.6947,5.0,216.0,14.9,387.31,3.76
8,0.21124,12.5,7.87,0.0,0.5240,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93

In [23]:
y_train

463    20.2
75     21.4
478    14.6
199    34.9
84     23.9
       ...
343    23.9
359    22.6
323    18.5
280    45.4
8      16.5
Name: PRICE, Length: 354, dtype: float64

In [24]:
ada_r=AdaBoostRegressor()

In [25]:
ada_r.fit(x_train,y_train)

AdaBoostRegressor()

In [26]:
y_predict=ada_r.predict(x_test)

In [27]:
y_predict

array([34.085     , 29.63291139, 18.44938272, 20.84736842, 21.85390071,
       21.78947368, 22.92323944, 22.6       , 20.50344828, 15.9047619 ,
       25.85287356, 16.52830189, 22.33741007, 18.95555556, 45.03018868,
       26.27972973, 28.41884058, 22.14275862, 27.20824742, 47.364     ,
       33.64666667, 14.53763441, 18.73939394, 17.190625  , 10.14186047,
       18.68444444, 27.59263158, 17.67666667, 17.8902439 , 20.90970874,
       17.8902439 , 22.46933333, 43.70449438, 24.90392157, 31.18909091,
       33.49139785, 20.29466667, 13.95166667, 17.68823529, 22.46933333,
       22.14275862, 20.14819277, 18.73939394, 22.33741007, 25.85287356,
       25.85287356, 18.83666667, 16.22333333, 15.9047619 , 17.54941176,
       21.78947368, 20.137     , 22.92323944, 27.64654088, 13.40526316,
       17.8902439 , 32.63076923, 35.87666667, 10.94888889, 22.3362963 ,
       16.52830189, 13.95166667, 17.67666667, 30.76206897, 22.14275862,
       22.92323944, 17.54941176, 31.78148148, 19.24242424, 22.46933333,
       12.28627451, 19.27222222, 11.26944444, 17.8902439 , 30.25666667,
       10.81111111, 26.27972973, 41.55      , 13.69152542, 22.92323944,
       42.96111111, 41.35701754, 17.68823529, 15.9047619 , 15.29439252,
       17.68823529, 19.97480916, 21.78947368, 13.40526316, 22.3362963 ,
       29.15816327, 22.14275862, 22.9953271 , 24.90392157, 18.68444444,
       18.63157895, 20.14819277, 47.4703125 , 11.75178571, 28.5260274 ,
       16.13982301, 14.63333333, 12.08780488, 24.49021739, 37.51621622,
       22.3362963 , 26.27972973, 15.29439252, 16.22333333, 25.34666667,
       24.90392157, 30.76206897, 34.085     , 13.22777778, 22.46933333,
       20.84736842, 27.12166667, 20.29466667, 22.3362963 ,  9.95384615,
       17.190625  , 16.08686869, 21.85390071, 24.90392157, 20.50344828,
       15.9047619 , 21.78947368, 18.83666667, 21.78947368, 21.78947368,
       28.41884058, 20.50344828, 27.12166667, 20.84736842, 22.33741007,
       45.11132075, 19.32666667, 20.56785714, 19.97480916, 22.92323944,
       18.68444444, 16.22333333, 16.28387097, 31.36571429, 30.25666667,
       19.68444444, 22.3362963 , 27.594     , 18.73939394, 28.5260274 ,
       16.52830189, 42.42093023])

In [28]:
rmse=np.sqrt(mean_squared_error(y_test,y_predict))

In [29]:
rmse

4.90266504670502

Gradient Boosting

In [40]:
gbr=GradientBoostingRegressor(n_estimators=200)

In [41]:
gbr.fit(x_train,y_train)

GradientBoostingRegressor(n_estimators=200)

In [42]:
y_pred_gbr=gbr.predict(x_test)

In [43]:
y_pred_gbr

array([32.7548845 , 32.09157412, 16.32330364, 19.0507995 , 20.22281358,
       22.1371447 , 24.87958059, 22.82535176, 20.72474546, 14.18992943,
       23.7331536 , 14.12040858, 22.76802977, 16.45698723, 48.69219561,
       23.85802194, 23.87958301, 23.6594072 , 28.95544024, 49.71056475,
       34.84259124, 12.72475949, 19.00267683, 15.04731406,  8.57814528,
       14.25583369, 26.54440691, 17.36657961, 15.59846653, 20.08296236,
       17.11633464, 21.59241838, 45.44000114, 23.98781842, 29.53190562,
       34.86682951, 26.38286547, 11.95990506, 15.35343908, 22.77618382,
       20.47930334, 21.27002034, 13.92487036, 20.48600209, 25.17937551,
       23.83449997, 18.30611296, 14.55415014, 14.8096141 , 12.73475703,
       19.62521392, 20.56034395, 22.24324713, 26.83501631, 13.59007248,
       17.13468107, 32.41975502, 32.7210432 ,  9.08602062, 20.49224035,
       13.07566115, 15.7559183 , 16.56167665, 32.26846548, 18.56678376,
       25.10745701, 16.37517299, 35.81610206, 19.7090193 , 21.12808405,
       11.97021708, 19.47553357,  9.82635799, 16.40515181, 30.6955988 ,
        9.57951241, 24.76250931, 42.2078424 , 12.56701646, 21.87395592,
       45.51902178, 45.53621034, 15.03689236, 12.33677501, 15.34998681,
       13.83057623, 20.33434414, 21.7539249 , 10.8645659 , 19.06933506,
       29.35155294, 23.75454601, 21.24357246, 22.54814469, 17.29907803,
       17.28985894, 23.0990661 , 49.54032499, 10.17542409, 39.23593858,
       15.05705879, 10.60223018, 11.98978308, 24.34677915, 36.10039905,
       18.83187334, 23.59099704, 12.02255977, 15.03255558, 24.02246004,
       24.41598574, 34.47743308, 36.36058906, 12.61236972, 22.78025431,
       19.7660469 , 25.94856074, 18.39351121, 25.80999127,  6.50719752,
       15.82547159, 15.49467103, 21.25776601, 23.442256  , 20.81188039,
       14.29558053, 22.12843803, 17.64322055, 20.72688359, 21.45250245,
       30.41600974, 19.55130784, 26.68274875, 19.07925783, 23.44781564,
       45.15537195, 20.83456883, 20.40715976, 21.47982711, 22.3539799 ,
       14.98552706, 14.35007755, 15.52493594, 29.6199319 , 31.06391471,
       18.82588551, 25.89680448, 22.7820563 , 19.38612097, 25.98862304,
       15.538323  , 45.66208619])

In [44]:
rmse_gbr=np.sqrt(mean_squared_error(y_test,y_pred_gbr))

In [45]:
rmse_gbr

4.119547707598619

XGBoost